<h1 align="center">Issuer: Dashboard</h1>
<div ng-controller="issuerController as model">
  <div ng-if="model.display.instructions">
    <p>
  Thank you for providing your decentralized identifier (DID).
    </p>
    <p>
  Click below to issue a new credential to yourself.
    </p>
    <button
      ng-click="model.showCredential()"
      type="button" class="btn btn-primary">Issue Credential</button>
  </div>
  <div ng-if="model.display.credential">
    <h3>Credential Details</h3>
    <div><pre class="pre-scrollable">{{ model.credential | json }}</pre></div>
    <button
      ng-click="model.acceptCredential()"
      type="button" class="btn btn-success">Accept</button>
    <button
      ng-click="model.rejectCredential()"
      type="button" class="btn btn-danger">Reject</button>
  </div>
  <div ng-if="model.display.actionResult">
    <div>
      Your new credential will now be sent to your IDP for storage.
    </div>
    <button
      ng-click="model.storeCredential()"
      type="button" class="btn btn-primary">Continue</button>
  </div>
  <div ng-if="model.display.acknowledgement">
    <h3>The following credentials were successfully stored at your identity provider:</h3>
    <pre class="pre-scrollable">{{ model.storedCredential | json }}</pre>
  </div>
</div>
